@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import 'variables';

body {
    font-family: 'DM Serif Display';
    text-align: center;
}

.hidden {
    overflow-y: hidden;
}

::-webkit-scrollbar {
    display: none;
}



h2 {
    font-size: 2rem;
    color: $white;
    font-weight: 400;
    margin-bottom: 1rem;
}

p {
    font-family: 'Public Sans';
    font-size: .95rem;
    line-height: 1.86;
    color: $light-blue;
}

ul {
    list-style: none;
}

a {
    font-family: 'Public Sans';
}


header {
    padding-inline: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100dvw;
    top: 0;
    left: 0;
    box-sizing: border-box;

    .close {
        display: none;
        position: relative;
        z-index: 999;
    }

    .logo {
        margin-block: 2.5rem 2.5rem;
    }

    .open:hover,
    .close:hover {
        opacity: .7;
        cursor: pointer;
    }

    nav {
        position: absolute;
        top: 0;
        right: 0;
        width: 80%;
        height: 100vh;
        background-color: $mirage-blue;
        z-index: 100;
        padding-top: 8.75rem;
        padding-inline: 1.5rem;
        background-image: url(../assets/shared/desktop/bg-pattern-circle.svg);
        background-repeat: no-repeat;
        background-position: center -515px;
        display: none;

        a:not([class="cta"]) {
            color: #fff;
        }

        li {
            margin-bottom: 2rem;
        }
    }
}

.hero {
   padding-top: 6rem;
    background-image: url(../assets/shared/desktop/bg-pattern-circle.svg);
    background-position: center -530px;
    background-repeat: no-repeat;
    padding-inline: 1rem;


    img {
        width: 55%;
        margin-inline: auto;
        position: relative;
        left: 1rem;
        max-width: 300px;
    }

    h1 {
        color: $blue;
        line-height: 1.125;
        font-weight: 400;
        margin-bottom: 1.5rem;
    }

   

    .cta {
        margin-bottom: 1.5rem;
    }

    p {
       
        font-weight: 300;
        color: $light-blue;
        font-family: 'Public Sans';
        
        a {
            font-weight: 800;
            color: $light-blue;
        }
    }

    .hero__txt {
        margin-bottom: 5rem;
    }
}

input {
    width: 100%;
    padding: 1rem 1.5rem;
    border-radius: 30px;
    border: none;
    box-shadow: 0 5px 10px rgba($color: #000000, $alpha: 0.2);
    margin-bottom: 1rem;

    &::placeholder {
        font-family: 'Public Sans';
        font-weight: 700;
        color: $light-blue;
        
    }
}

.cta {
    display: inline-block;
    text-decoration: none;
    
    font-weight: 600;
    width: 100%;
    padding: 1rem;
    color: $white;
    background-color: $dark-pink;
    border-radius: 30px;
}

.partners {
    background-color: $mirage-blue;
    padding: 5rem 1.5rem;
    background-image: url(../assets/shared/desktop/bg-pattern-circle.svg);
    background-position: center -600px;
    background-repeat: no-repeat;

    .partners_img {
        padding-inline: 1.5rem;
        display: flex;
        gap: 3rem;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-bottom: 3.5rem;


        img {
            width: calc(50% - 2rem);
            max-width: 130px;
        }
    }

    p {
        
        margin-bottom: 2rem;
    }

    a {
        display: inline-block;
        padding: 1rem 2rem;
        outline: 1px solid #fff;
        border-radius: 30px;
        color: #fff;
        font-weight: 600;
        font-size: .95rem;
    }

    
}

.implementation {

    .implementation__img {
        overflow: hidden;
        img {
            position: relative;
            left: 1rem;
        }
    }

    h2 {
        color: $blue;
       margin-bottom: 1.5rem;
    }

   

    .implementation__txt {
        padding-inline: 1.5rem;
        margin-bottom: 5rem;
    }
    

}

.simple {

    margin-bottom: 5rem;

    .simple__txt {
        padding-inline: 1.5rem;
    }

    h2 {
        color: $blue;
    }

    img {
        width: 100%;
        max-width: 500px;
    }
}


.services {

    img {
        display: inline-block;
    }

    .service__item--img {
        margin-bottom: 2rem;
    }
    .service__item {

        .service__item--txt {
            padding-inline: 1.5rem;
            margin-bottom: 3rem;
        }

        h2 {
            color: $blue;
            font-family: 'Public Sans';
            font-size: 1.125rem;
            font-weight: 800;
        }
    }

}

.subscribtion {
    padding-inline: 1.5rem;
    margin-bottom: 5rem;
    
    legend {
        font-size: 2rem;
        color: $blue;
        margin-bottom: 2rem;
    }

    label {
        display: none;
    }
}

footer {
    padding-block: 2.5rem 3.25rem;
    background-color: $mirage-blue;
    background-image: url(../assets/shared/desktop/bg-pattern-circle.svg);
    background-repeat: no-repeat;
    background-position: center 190px;

    img {
        display: inline-block;
        margin-bottom: 2.5rem;
    }

    li:not(:last-child) {
        margin-bottom: 2rem;
    }

    li:last-child {
        margin-bottom: 3rem;
    }

    a {
        color: $light-blue;
        font-weight: 800;

       
    }

    .socials {
        display: flex;
        gap: 1.5rem;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (min-width: 750px) {

    h2 {
        font-size: 3rem;
        line-height: 1.16;
    }


    header {
        padding-inline: 2.5rem;

        .logo {
            margin-inline-end: 4rem;
        }

        nav {
            position: unset;
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: fit-content;
            background-color: transparent;
            background-image: none;
            padding: 0;

            .cta {
                display: inline-block;
                width: fit-content;
                padding: 1rem 1.5rem;
            }


            li {
                display: inline-block;
                margin-bottom: 0;
                margin-inline-end: 2.5rem;

                a:not([class="cta"]) {
                    font-weight: 800;
                    color: $light-blue;
                }
            }


           
        }

        .menu__toggles {
            display: none;
        }
    }

    .hero {
        background-position: center -600px;
        background-size: 120%;

        h1{
            font-size: 3rem;
        }

        

        
    }

    .wrapper {
        position: relative;
        width: 60%;
        margin-inline: auto;
    }

    .cta:not(header .cta) {
        width: fit-content;
        position: absolute;
        padding: 1rem 1.5rem;
        text-wrap: nowrap;
        top: 0;
        right: 0;
    }
    input {
        width: 100%;
        padding: 1.2rem;
    }

    .partners {
        padding: 5.93rem 7.25rem;
        background-position: center -530px;

        .partners_img {
            margin-bottom: 4rem;
        }

        .partners__txt {
            padding-inline: 2.5rem;
        }

        h2 {
            margin-bottom: 1.5rem;
        }
    }

    .implementation__img {
        img {
            max-width: 445px;
            margin-inline: auto;
        }
    }

    .implementation .implementation__txt {
        padding-inline: 6.125rem;
    }

    .simple {

        img {
            margin-inline: auto;
        }
    }

    .services {
        display: flex;
        padding-inline: 2.5rem;
        gap: .5rem;

        .service__item .service__item--txt {
            padding: 0;
            margin-bottom: 6.25rem;
        }
    }

    .subscribtion {
        margin-bottom: 6.125rem;
        

        legend {
            font-size: 3rem;
            margin-bottom: 2.5rem;
        }
    }

    footer {
        display: flex;
        justify-content: space-between;
        padding-inline: 2.5rem;
        align-items: center;
        background-position: 550px center;

        img {
            margin-bottom: 0;
        }

        nav {
            height: fit-content;

            li {
                display: inline;
                margin-bottom: 0;
                margin-right: 2rem;
            }

            a {
                margin-bottom: 0;
            }
        }

        


    }
}